.instruction {
    margin: 10px;
    height: 20%;
}

.editor {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60%;
}

.label {
    font-size: 10px;
}

.output {
    margin: 10px;
    padding: 10px;
}

#page {
    height: 500px;
    width: 100%;
}

.input {
    margin: 10px;
}

.code {
    margin: 10px;
}

#html,
#css,
#js {
    height: 150px;
    width: 100%;
}

.buttons {
    margin: 10px;
    height: 20%;
    text-align: right;
}